@font-face {
    font-family: RubikRegular;
    src: url(../fonts/Rubik-Regular.ttf);
}

body{
    margin: 0;
    background-image: url(../images/back-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: RubikRegular;
}

.header-top{
    display: flex;
    position: fixed;
    background-color: green;
    width: 98.5%;
    align-items: center;
    padding: 10px;
    font-size: 1.2em;
    z-index: 1;
}

.header-top a{
    padding: 15px;
    color: white;
    text-decoration: none;
}

.body-page{
    display: flex;
    flex-direction: column;
}

.body-page > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 110vh;
}

.div-home h1{
    font-size: 2.5em;
    color: black;
    width: 90%;
    text-align: center;
}

.div-home a{
    text-decoration: none;
    text-align: center;
    padding: 20px 30px;
    font-size: 1.5em;
    background-color: green;
    color: white;
    border: 0;
    cursor: pointer;
    border-radius: 40px;
}

.div-software span, .div-sobre span, .div-download span, .div-contato span , .div-index span{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}

.div-software p, .div-sobre p{
    font-size: 1.5em;
    width: 80%;
    text-align: justify;
}

#div-index{
    height: auto;
}

.div-index table{
    background-color: white;
    margin: 20px;
    padding-top: 20px;
    width: 80%;
    border-radius: 20px;
    text-align: center;
    font-size: 1.2em;
    border-collapse: collapse;
}

.div-index th{
    padding: 15px 0px;
}

.div-index td{
    border-top: 2px solid black;
}

.div-sobre, .div-download, .div-contato{
    color: white;
}

.div-sobre a{
    color: white;
}

.div-download form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    border-radius: 10px;
}

.div-download > form > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    font-size: 1.5em;
    margin-bottom: 25px;
}

.div-download > form > button{
    background-color: green;
    width: 30%;
    height: 60px;
    color: white;
    font-size: 1.3em;
    border: 0;
    cursor: pointer;
    border-radius: 40px;
}

.div-download > form > div > input, .div-download > form > div > select{
    width: 100%;
    padding: 5px;
    border: 0;
    font-size: 0.8em;
    border-radius: 7px;
}

.div-download > form > div > label{
    display: flex;
    align-items: center;
}

.div-contato > form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 100px;
}

.div-contato div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 15px 0;
}

.div-contato input{
    width: 100%;
    height: 30px;
    margin: 0 20px;
    border: 0;
    border-radius: 10px;
    padding: 10px;
}

.div-contato textarea{
    border: 0;
    border: 20px;
    padding: 10px;
    resize: none;
    font-family: RubikRegular;
}

.div-contato button{
    margin-top: 20px;
    height: 50px;
    width: 150px;
    border: 0;
    cursor: pointer;
    background-color: rgb(6, 211, 6);
    color: white;
    font-size: 1.3em;
    border-radius: 40px;
    align-self: center;
}

#labs-col{
    display: flex;
    flex-direction: row;
    background-color: white;
    color: black;
    font-size: 2em;
    align-items: center;
    justify-content: center;
    height: 30%;
    margin: 0;
}

#email-cont{
    margin-right: 0;
}

#logos{
    flex-direction: row;
    height: 20%;
    margin: 0;
}

#logos img{
    height: 150px;
    padding: 20px;
}